<%# puts "---------- RegNew-Choice Visitor: " + @cached_visitor.inspect  %>

<h3 class='sign-up-sub-header'>Good Decision.</h3>

<p id='sign-up-text1'>Sign up for an account below so we can start saving you money</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
        <br>
        <% if @cached_visitor.email.blank? %>
          <span class="sign-up-label hidden-xs">Your Email</span>
          <%= f.email_field :email,
            placeholder: "Email",
            class: "form-control sign-up-input" %>
            <br>
            <span id='emailSpamNoticeLockIcon'>
              <%= image_tag("padlock_scaled.jpeg", :alt => "Secure", :class => 'img-responsive') %>
            </span>
            <span id="emailSpamNotice">
              Your email is safe with us. <br> We hate spam as much as you do.
            </span>
            <br>
        <% else %>
          <%= f.hidden_field :email, :value => @cached_visitor.email %>
        <% end %>

        <!-- This is not provided by Facebook -->
        <!-- <span class="sign-up-label hidden-xs">Phone Number</span>
        <%#= f.phone_field :phone,
                placeholder: "Phone",
                class: "form-control sign-up-input" %><br><br> -->

        <% if @zip.blank? %>
          <span class="sign-up-label hidden-xs">Zip Code</span>
          <%= text_field_tag :zip, (params[:zip]),
            placeholder: "Zip Code",
            class: "form-control  sign-up-input sign-up-zip-field" %>
          <br><br>
        <% else %>
          <%= hidden_field_tag :zip, @zip.zip %>
        <% end %>

        <span class="sign-up-label sign-up-esp-label">Energy Source Preference</span>
        <br class='visible-xs'>
        <div id='espRadioWrapper'>
          <%= f.radio_button :plan_type, "Cheapest Power", class: 'plan-type-radio', id: 'plan-cheapest', :checked => true %>
          <label for="plan-cheapest">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cheapest Plan Possible</label>
          <br/>
          <%= f.radio_button :plan_type, "Most Affordable 100% Renewable", class: 'plan-type-radio', id: 'plan-renewable' %>
          <label for="plan-renewable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lowest Price 100% Renewable Plan</label>
        </div>

        <%= f.hidden_field :plan_grade, :value=> (
              (params[:plan_grade]).present? ? (params[:plan_grade]) : @cached_visitor.plan_grade
            ) %>

        <!-- These are only passed in case of a form-submission error, to repopulate it -->
        <%= hidden_field_tag :tdu_id, (params[:tdu_id]) %>
        <%= hidden_field_tag :from_home, (params[:from_home]) %>

        <!-- Tell Create What Subform Was Used  -->
        <%= hidden_field_tag :form_type, "tx_choice" %>

        <!-- Pass Referral Info To Controller -->
        <%= hidden_field_tag :referral_key, (params[:referral_key]) %>

        <div class="col-md-12 sign-up-submit">
          <span id='sign-up-button-conditions'>
            By clicking "Create Account" you agree to our Terms of Use and Privacy Policy<br>
          </span>
          <%= f.submit "Create Account", class: "btn btn-large btn-primary",
              id: "sign-up-submit-button" %>
        </div>
  <% end %>

<!-- Google Code for Enter Zipcode Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 969198725;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "ia2LCLuEvwsQhZmTzgM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<script>
//mixpanel.track("Viewed sign-up page");
</script>
<noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/969198725/?label=ia2LCLuEvwsQhZmTzgM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
