<p id="notice"><%= notice %></p>

<p>
  <strong>Mo 01:</strong>
  <%= @customer_usage.mo_01 %>
</p>

<p>
  <strong>Mo 02:</strong>
  <%= @customer_usage.mo_02 %>
</p>

<p>
  <strong>Mo 03:</strong>
  <%= @customer_usage.mo_03 %>
</p>

<p>
  <strong>Mo 04:</strong>
  <%= @customer_usage.mo_04 %>
</p>

<p>
  <strong>Mo 05:</strong>
  <%= @customer_usage.mo_05 %>
</p>

<p>
  <strong>Mo 06:</strong>
  <%= @customer_usage.mo_06 %>
</p>

<p>
  <strong>Mo 07:</strong>
  <%= @customer_usage.mo_07 %>
</p>

<p>
  <strong>Mo 08:</strong>
  <%= @customer_usage.mo_08 %>
</p>

<p>
  <strong>Mo 09:</strong>
  <%= @customer_usage.mo_09 %>
</p>

<p>
  <strong>Mo 10:</strong>
  <%= @customer_usage.mo_10 %>
</p>

<p>
  <strong>Mo 11:</strong>
  <%= @customer_usage.mo_11 %>
</p>

<p>
  <strong>Mo 12:</strong>
  <%= @customer_usage.mo_12 %>
</p>

<%= link_to 'Edit', edit_customer_usage_path(@customer_usage) %> |
<%= link_to 'Back', customer_usages_path %>
