<% @title="Your Allies Against The Electric Companies | Energy Simply" %>
<% @description="The Energy Simply team will be your ally against the electric companies. We use our years of electric power industry experience to get you great plans." %>

		<div class="our-team-wrapper">
			<div class="our-team row">
				<div class="our-team-title">
					<h2>The Energy Simply Team</h2>
				</div>
				<p class="lead text-center">Your Allies Against The Electric Companies</p>
				<div class="col-md-4 col-sm-4">
					<div class="team-box">
						<div class="team-avatar">
							<%= link_to(image_tag(asset_path("img/jordan-pic.png"), :alt => "Jordan Hobfoll | Energy Simply Founder and CEO"), "#") %>
						</div>
						<!--team-avatar-->
						<h3>Jordan Hobfoll</h3>
						<h4>Founder and CEO</h4>
						<div class="team-text">
							<p>Jordan, a former elecric power industry consultant, came up with the
							idea for Energy Simply
							after missing his electric
							plan expiration and getting
							charged high rates. He
							thought that there had to
							be a better way, and now
							there is.</p>
						</div>
						<!--team-text-->
						<div class="team-social">
							<%= link_to(image_tag(asset_path("img/littile-icon-twitter.png"), :alt => "Follow Jordan"), "http://twitter.com/home?status=@jhobfoll%20") %>
							<%= link_to(image_tag(asset_path("img/littile-icon-mail.png"), :alt => "Email Jordan"), "mailto:jordan@energysimp.ly") %>
						</div>
						<!--team-social-->
					</div>
				</div>
				<!--col-md-4-->
				<div class="col-md-4 col-sm-4">
					<div class="team-box">
						<div class="team-avatar">
							<%= link_to(image_tag(asset_path("img/Gideon-pic.png"), :alt => "Gideon Blustein | Energy Simply Co-Founder and COO"), "#") %>
						</div>
						<!--team-avatar-->
						<h3>Gideon Blustein</h3>
						<h4>Advisor</h4>
						
						<div class="team-text">
							<p>Gideon has led marketing, PR and political campaigns of all shapes and sizes. An Illinois native, Gideon learned the hard way that selecting an energy plan can be tricky and expensive. He co-founded Energy Simply to provide a simpler option for customers.</p>
						</div>
						<!--team-text-->
						<div class="team-social">
							<%= link_to(image_tag(asset_path("img/littile-icon-twitter.png"), :alt => "Follow Gideon"), "http://twitter.com/home?status=@GideonBlustein%20") %>
							<%= link_to(image_tag(asset_path("img/littile-icon-mail.png"), :alt => "Email Gideon"), "mailto:gideon@energysimp.ly") %>
						</div>
						<!--team-social-->
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="team-box">
						<div class="team-avatar">
							<%= link_to(image_tag(asset_path("img/rob-pic.png"), :alt => "Rob Dolin | Energy Simply Co-Founder and CTO"), "#") %>
						</div>
						<!--team-avatar-->
						<h3>Rob Dolin</h3>
						<h4>Advisor</h4>
						
						<div class="team-text">
							<p>Rob has more than a
							decade of experience as a
							project manager in the
							tech industry. He is using
							that skill set to make sure
							that our analysis is top-
							notch and that your
							information is always safe
							and secure.</p>
						</div>
						<!--team-text-->
						<div class="team-social">
							<%= link_to(image_tag(asset_path("img/littile-icon-twitter.png"), :alt => "Follow Rob"), "http://twitter.com/home?status=@robdolin%20") %>
							<%= link_to(image_tag(asset_path("img/littile-icon-mail.png"), :alt => "Email Rob"), "mailto:rob@energysimp.ly") %>
						</div>
						<!--team-social-->
					</div>
				</div>
			</div>
			<!--our-team-->
		</div>
		<!--container-->
