<% @title="How Energy Simply Works | 5 Steps To Find An Electric Company" %>
<% @description="Energy Simply constantly monitors your usage, plan status and all available power plan offers to make sure you have the lowest power bill possible." %>        

	<section class="panel-full bg howwork">
		<div class="page-top-title very-top">
			<h1>How Energy Simply Works</h1>
		</div>
		<div class="left-embed">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="wistia_tnpdrr1cg7" class="wistia_embed" style="width:480px;height:298px;"><div itemprop="video" itemscope itemtype="http://schema.org/VideoObject"><meta itemprop="name" content="See How Energy Simply Works" /><meta itemprop="duration" content="PT1M29S" /><meta itemprop="thumbnailUrl" content="https://embed-ssl.wistia.com/deliveries/538ab5da6350af0199e8f37354c25f4289af643f.bin" /><meta itemprop="contentURL" content="https://embed-ssl.wistia.com/deliveries/ec76196d152dc237a80f6e84fc0f84eb48357180.bin" /><meta itemprop="embedURL" content="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27&autoPlay=false&banner=true&controlsVisibleOnLoad=false&customColor=737373&endVideoBehavior=reset&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=28959075&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F6ceadfa22d0892582c78bbf4c983e46517476153.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=89.036&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F538ab5da6350af0199e8f37354c25f4289af643f.jpg%3Ft%3D1427211326118%26image_crop_resized%3D480x270&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fec76196d152dc237a80f6e84fc0f84eb48357180.bin" /><meta itemprop="uploadDate" content="2015-03-22T04:47:16Z" /><object id="wistia_tnpdrr1cg7_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:270px;position:relative;width:480px;"><param name="movie" value="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27"></param><param name="allowfullscreen" value="true"></param><param name="bgcolor" value="#000000"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="autoPlay=false&banner=true&controlsVisibleOnLoad=false&customColor=737373&endVideoBehavior=reset&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=28959075&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F6ceadfa22d0892582c78bbf4c983e46517476153.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=89.036&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F538ab5da6350af0199e8f37354c25f4289af643f.jpg%3Ft%3D1427211326118%26image_crop_resized%3D480x270&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fec76196d152dc237a80f6e84fc0f84eb48357180.bin"></param><embed src="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27" allowfullscreen="true" bgcolor=#000000 flashvars="autoPlay=false&banner=true&controlsVisibleOnLoad=false&customColor=737373&endVideoBehavior=reset&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=28959075&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F6ceadfa22d0892582c78bbf4c983e46517476153.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=89.036&playButtonVisible=true&showPlayButton=true&showPlaybar=true&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F538ab5da6350af0199e8f37354c25f4289af643f.jpg%3Ft%3D1427211326118%26image_crop_resized%3D480x270&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fec76196d152dc237a80f6e84fc0f84eb48357180.bin" name="wistia_tnpdrr1cg7_html" style="display:block;height:100%;position:relative;width:100%;" type="application/x-shockwave-flash" wmode="opaque"></embed></object><noscript itemprop="description"><h2>Energy Simply is your<strong>ally</strong>against the electric companies</h2><p>We keep you in the best electric power plan<em>automatically</em>.</p><p><strong>Never</strong>have to use Power To Choose or research electric companies on your own ever again.</p><p>To sign up visit<a href="https://www.energysimp.ly">www.EnergySimp.ly</a>.</p></noscript></div></div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("tnpdrr1cg7", {
  videoFoam: true
});
</script>
<script charset="ISO-8859-1" src="//fast.wistia.com/embed/medias/tnpdrr1cg7/metadata.js"></script>
        </div>
      </div>

		<div class="top-title-box-wrapper clearfix">
			<a href="#go_signup" class="top-title-box single-line">
				<h3>You Sign Up</h3>

				<div class="icon-box">
					<%= image_tag("img/icon-info1.png", :alt => "Sign up logo") %>
				</div>
			</a>
			<!--top-title-box-->
			<a href="#go_plan" class="top-title-box single-line">
				<h3>We Select The Best Plan</h3>

				<div class="icon-box">
					<%= image_tag("img/icon-info2.png", :alt => "icon - Plan Selected") %>
				</div>
			</a>
			<!--top-title-box-->
			<a href="#go_signup_you" class="top-title-box">
				<h3>We Enroll You</h3>

				<div class="icon-box">
					<%= image_tag("img/icon-info3.png", :alt => "icon - Sign You Up") %>
				</div>
			</a>
			<!--top-title-box-->
			<a href="#go_switch" class="top-title-box">
				<h3>We Switch For You</h3>

				<div class="icon-box">
					<%= image_tag("img/icon-info4.png", :alt => "Switch You At Expiration") %>
				</div>
			</a>
			<!--top-title-box-->
			<a href="#go_track" class="top-title-box last">
				<h3>We Monitor For Savings</h3>

				<div class="icon-box">
					<%= image_tag("img/icon-info5.png", :alt => "Track and switch you") %>
				</div>
			</a>
			<!--top-title-box-->
		</div>
		<!--top-title-box-wrapper-->
		<div class="page-signup-btn-how-it-works">
			<a href="/users/sign_up?plan_grade=gold" class="btn btn-brand">SIGN UP</a>
		</div>
		<!--page-signup-btn-->
	</section>

	<section class="panel-full border-top" id="go_signup">
		<div class="icon-info">
			<%= image_tag("img/icon-info1.png", :alt => "Sign up logo") %>
		</div>
		<div class="page-top-title lower-down max-width-325">
			<h2>Sign up in 3 easy steps</h2>
		</div>
		
		<div class="sign-inner-wrap">
			<div class="sign-row clearfix">
				<div class="text-left">
					<span class="number-text">1</span>
					<h3>Fill Out Basic Identification</h3>
				</div>
				<div class="img-right">
					<%= image_tag("img/img-fill-out.png", :alt => "Basic Identification") %>
				</div>
			</div>
			<!--sign-row-->
			<div class="sign-row clearfix">
				<div class="text-left">
					<span class="number-text">2</span>
					<h3>Provide Payment Information</h3>
				</div>
				<div class="img-right">
					<%= image_tag("img/img-payment.png", :alt => "Provide Payment") %>
				</div>
			</div>
			<!--sign-row-->
			<div class="sign-row clearfix last">
				<div class="text-left">
					<span class="number-text">3</span>
					<h3>Submit bill Information</h3>
				</div>
				<div class="img-right">
					<%= image_tag("img/img-power-bill.png", :alt => "bill Information") %>
				</div>
			</div>
			<!--sign-row-->
		</div>
		<!--sign-inner-wrap-->
		
		<div class="page-signup-btn-how-it-works">
			<a href="/users/sign_up?plan_grade=gold" class="btn btn-brand">SIGN UP</a>
		</div>
		<!--page-signup-btn-->
	</section>
	
	<section class="panel-full border-top bg" id="go_plan">
		<div class="icon-info">
				<%= image_tag("img/icon-info2.png", :alt => "icon - Plan Selected") %>
		</div>
		<div class="page-top-title lower-down max-width-690">
			<h2>We use proprietary modeling</br> to find you the best plan
			</h2>
		</div>
		
		<div class="we-use-inner-wrap clearfix">
			<div class="plan-box plus-icon">
				<h3><span></span>Thousands Of Plans</h3>
				<div class="plan-img-box">
					<%= image_tag("img/300plan.png", :alt => "") %>
				</div>
			</div>
			<div class="plan-box equal-icon">
				<h3><span></span>Our Modeling</h3>
				<div class="plan-img-box">
					<%= image_tag("img/modeling.png", :alt => "") %>
				</div>
			</div>
			<div class="plan-box last">
				<h3><span></span>One Perfect Plan For You</h3>
				<div class="plan-img-box">
					<%= image_tag("img/perfect_plan.png", :alt => "") %>
				</div>
			</div>
		</div>
		<!--we-use-inner-wrap-->
		
		<div class="page-signup-btn-how-it-works">
			<a href="/users/sign_up?plan_grade=gold" class="btn btn-brand">SIGN UP</a>
		</div>
		<!--page-signup-btn-->
	</section>
	
	<section class="panel-full border-top" id="go_signup_you">
		<div class="icon-info">
			<%= image_tag("img/icon-info3.png", :alt => "icon - Sign You Up") %>
		</div>
		<div class="page-top-title lower-down max-width-450">
			<h2>We Enroll You<br>
			(including auto-pay upon request)</h2>
		</div>
		
		<div class="autopay-inner clearfix">
			<figure class="image-left">
				<%= image_tag("img/simply-working.png", :alt => "simply-working") %>
				<figcaption>Energy simply working</figcaption>
			</figure>
			<figure class="image-right">
				<%= image_tag("img/you-relaxing.png", :alt => "simply-working") %>
				<figcaption>You Relaxing</figcaption>
			</figure>
		</div>
		<!--autopay-inner-->
		
		<div class="page-signup-btn-how-it-works">
			<a href="/users/sign_up?plan_grade=gold" class="btn btn-brand">SIGN UP</a>
		</div>
		<!--page-signup-btn-->
	</section>
	
	<section class="panel-full border-top bg" id="go_switch">
		<div class="icon-info">
			<%= image_tag("img/icon-info4.png", :alt => "Switch You At Expiration", :class => "calendar-image") %>
		</div>
		<div class="page-top-title lower-down max-width-1000">
			<h2>Prior to expiration, we’ll select a new plan,</br>notify and switch you</h2>
		</div>

		<div class="your-plan-inner clearfix">

			<div class="calendar-wrapper">
				<div class="your-plan-title">
					<h3><span></span> Expiration Tracking</h3>
				</div>
				<div class="calendar-box">
					<div class="big-arrow"></div>
					<div class="arrow-text">Your <br>Expiration</div>
				</div>	
			</div>
			<!--calendar-wrapper-->

			<div class="proposal-wrapper">
				<div class="your-plan-title">
					<h3><span></span> New Plan Proposal</h3>
				</div>
				<div class="proposal-exam">
					Hi,<br>
					<br>
					It’s time for a new plan, and <br>
					this one is best for you! <br><br>
					-Energy Simply
				</div>
			</div>
			<!--proposal-wrapper-->

			<div class="automatic-wrapper">
				<div class="your-plan-title">
					<h3><span></span> Automatic Sign-up</h3>
				</div>
				<div class="automatic-img">
					<%= image_tag("img/green-tick.png", :alt => "") %>
				</div>
			</div>
			<!--proposal-wrapper-->
		</div>
		<!--your-plan-inner-->
		
		<div class="page-signup-btn-how-it-works">
			<a href="/users/sign_up?plan_grade=gold" class="btn btn-brand">SIGN UP</a>
		</div>
		<!--page-signup-btn-->
	</section>
	
	<section class="panel-full border-top" id="go_track">
		<div class="icon-info">
			<%= image_tag("img/icon-info5.png", :alt => "Track and switch you") %>
		</div>
		<div class="page-top-title lower-down max-width-1000">
			<h2>We are always monitoring: If we can save you money mid-contract, we’ll notify and switch you</h2>
		</div>
		
		<div class="tracking-inner clearfix">
			<div class="tracking-box arrow">
				<div class="tracking-title">
					<h3><span></span> Expiration Tracking</h3>
				</div>
				<div class="tracking-img">
					<%= image_tag("img/img-electricity.png", :alt => "Expiration Tracking") %>
				</div>
			</div>
			<!--tracking-box-->
			<div class="tracking-box arrow">
				<div class="tracking-title">
					<h3><span></span> You can save by switching</h3>
				</div>
				<div class="tracking-img">
					<%= image_tag("img/img-saving.png", :alt => "You can save by switching") %>
				</div>
			</div>
			<!--tracking-box-->
			<div class="tracking-box arrow">
				<div class="tracking-title">
					<h3><span></span>Approve Our Selection</h3>
				</div>
				<div class="tracking-img">
					<%= image_tag("img/img-approve.png", :alt => "Selecting approval to switch") %>
				</div>
			</div>
			<!--tracking-box-->
			<div class="tracking-box last">
				<div class="tracking-title">
					<h3><span></span> We Switch You</h3>
				</div>
				<div class="tracking-img">
					<%= image_tag("img/img-power.png", :alt => "We Switch You") %>
				</div>
			</div>
			<!--tracking-box-->

		</div>
		<!--tracking-inner-->
		
		<div class="page-signup-btn-how-it-works">
			<a href="/users/sign_up?plan_grade=gold" class="btn btn-brand">SIGN UP</a>
		</div>
		<!--page-signup-btn-->
	</section>
	
	<script>
		/* script for click to go each section with animation */
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html,body').animate({
		          scrollTop: target.offset().top
		        }, 1000);
		        return false;
		      }
		    }
		  });
		});
	</script>
