<p id="notice"><%= notice %></p>

<p>
  <strong>Idkey:</strong>
  <%= @savings_calculator_datum.idKey %>
</p>

<p>
  <strong>Tducompanyname:</strong>
  <%= @savings_calculator_datum.TduCompanyName %>
</p>

<p>
  <strong>Repcompany:</strong>
  <%= @savings_calculator_datum.RepCompany %>
</p>

<p>
  <strong>Product:</strong>
  <%= @savings_calculator_datum.Product %>
</p>

<p>
  <strong>Renewable:</strong>
  <%= @savings_calculator_datum.Renewable %>
</p>

<p>
  <strong>Termvalue:</strong>
  <%= @savings_calculator_datum.TermValue %>
</p>

<p>
  <strong>Promo adj:</strong>
  <%= @savings_calculator_datum.Promo_adj %>
</p>

<p>
  <strong>Rate 100:</strong>
  <%= @savings_calculator_datum.rate_100 %>
</p>

<p>
  <strong>Rate 500:</strong>
  <%= @savings_calculator_datum.rate_500 %>
</p>

<p>
  <strong>Rate 1000:</strong>
  <%= @savings_calculator_datum.rate_1000 %>
</p>

<p>
  <strong>Rate 2000:</strong>
  <%= @savings_calculator_datum.rate_2000 %>
</p>

<p>
  <strong>Rate 500 fixed:</strong>
  <%= @savings_calculator_datum.rate_500_fixed %>
</p>

<p>
  <strong>Rate 1000 fixed:</strong>
  <%= @savings_calculator_datum.rate_1000_fixed %>
</p>

<p>
  <strong>Rate 2000 fixed:</strong>
  <%= @savings_calculator_datum.rate_2000_fixed %>
</p>

<%= link_to 'Edit', edit_savings_calculator_datum_path(@savings_calculator_datum) %> |
<%= link_to 'Back', savings_calculator_data_path %>
